*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text' , serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.box{
    width: 360px;
    height: 420px;
    background: #2a2a2a;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    border-radius: 8px;
    padding: 30px 50px;
}

.box form h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
}