*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
}

.box{
    width: 380px;
    height: 420px;
    position: relative;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
}

.box form{
    position: absolute;
    inset: 4px;
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 34px 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box form h1{
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}

.box form .input-box{
    position: relative;
    width: 270px;
    height: 35px;
    margin-top: 35px;
}